/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/vcs.xml

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.swp
target
.idea
classes

# Log file
*.log

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

###other###
/admin_log/
/bin/